<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Directives Demo</title>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/app9.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-app="taskApp">
    <h1>Task Manager</h1>
    <div ng-controller="TaskController">
        <ul>
            <li ng-repeat="task in tasks">Name: {{task.name}}, Status: {{task.status}}</li>
        </ul>

        <div>
            <form ng-submit="addTask()">
                <input type="text" ng-model="newTaskName">
                <input type="text" ng-model="newTaskStatus">
                <button type="submit">Add Task</button>
            </form>

        </div>
    </div>
</body>
</html>